/*ESTILOS FORGOTPASSWORD*/
.ctnForgot { 
    background-color: #1ceeee11;
     backdrop-filter: blur(3px);
     height: 92vh;
     display: none;
     width: 100%;
     margin-top: 8vh;
     position: absolute;
     top: 0;
     left: 0;
     justify-content: center;
     align-items: center;
     z-index: 999;
 }
  .ctnSectionsForgot { 
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px 2px #0000001f;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    border-radius: 10px;
    padding: 0.4em;
    position: relative;
  }
  .forgot_open { 
    display: flex;
  }
 
  .gmailAddress { 
 
     width: 80%;
     height: 25%;
     display: flex;
     flex-direction: column;
     gap: 0.5em;
     font-size: 14px;
  }
  .gmailAddress input { 
     width: 92%;
     border-radius: 5px;
     height: 10%;
     padding: 0.8em;
  }

  .validEmailAddress { 
    display: none;
    color: red;
  }
  .btnSendData { 
    width: 80%;
  }


  /*RESPONSIVE FORGOTPASSWORD*/
 @media(max-width: 1050px) { 
    .ctnSectionsForgot{ 
      width: 40%;
    }
 }
 @media(max-width: 750px) { 
   .ctnSectionsForgot{ 
     width: 60%;
   }
}
@media(max-width: 500px) { 
   .ctnSectionsForgot{ 
     width: 80%;
   }
}